ion-content {
    --background: #000;
    color: #fff;
  }
  
  .piza-card {
    background-color: #333;
    color: #fff;
    margin: 28px;
    border-radius: 10px;
  }
  
  .piza-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  
  ion-card-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
  