<app-header [titulo]="'Pizarron'" [colorFondo]="'White'"></app-header>

<ion-content>
    <ion-card class="piza-card">
      <img class="piza-image" src="assets/pizarrones/piza1.jpeg">
      <ion-card-header>
        <ion-card-title>Stock de pizarrones</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piza-card">
      <img class="piza-image" src="assets/pizarrones/piza2.jpg">
      <ion-card-header>
        <ion-card-title>Fabricante de pizarrones</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piza-card">
      <img class="piza-image" src="assets/pizarrones/piza3.jpg">
      <ion-card-header>
        <ion-card-title>Pizarron para niños</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piza-card">
      <img class="piza-image" src="assets/pizarrones/piza4.jpg">
      <ion-card-header>
        <ion-card-title>Pizarron con marco grande</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piza-card">
      <img class="piza-image" src="assets/pizarrones/piza5.jpg">
      <ion-card-header>
        <ion-card-title>Pedidos de pizarrones por tamaño</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piza-card">
      <img class="piza-image" src="assets/pizarrones/piza6.jpg">
      <ion-card-header>
        <ion-card-title>Envios de pizarrones a todo el pais</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-content>

<app-footer></app-footer>