<app-header [titulo]="'Piedras Preciosas'" [colorFondo]="'Yellow'"></app-header>
<ion-content>
    <ion-card class="piedra-card">
      <img class="piedra-image" src="assets/piedras/piedra1.jpg">
      <ion-card-header>
        <ion-card-title>Diamante</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piedra-card">
        <img class="piedra-image" src="assets/piedras/piedra2.jpg">
      <ion-card-header>
        <ion-card-title>Esmeralda</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piedra-card">
        <img class="piedra-image" src="assets/piedras/piedra3.jpg">
      <ion-card-header>
        <ion-card-title>Rubi</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piedra-card">
        <img class="piedra-image" src="assets/piedras/piedra4.jpg">
      <ion-card-header>
        <ion-card-title>Zafiro</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piedra-card">
        <img class="piedra-image" src="assets/piedras/piedra5.jpg">
      <ion-card-header>
        <ion-card-title>Granate</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="piedra-card">
        <img class="piedra-image" src="assets/piedras/piedra6.jpg">
      <ion-card-header>
        <ion-card-title>Coral</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-content>


<app-footer></app-footer>