
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #333;
    color: #fff;
  }
  
  ion-icon {
    font-size: 24px;
    margin: 0 10px;
  }

  .footer-title {
    font-size: 13px;
    text-align: right;
    padding: 18px 0;
    margin: 0 -22px;
    color: #fff;
  }
  