<app-header [titulo]="'Armaduras'" [colorFondo]="'red'"></app-header>
<app-menu></app-menu>
<ion-title>Contenido de Armaduras</ion-title>
<ion-content>

  <ion-buttons class="custom-button-container">
    <ion-button class="conceder-button" (click)="concederPermiso = true">Conceder Permiso</ion-button>
    <ion-button class="negar-button" (click)="concederPermiso = false">Negar Permiso</ion-button>
  </ion-buttons>
  

    <ion-content *ngIf="concederPermiso">
      <ion-card class="armadura-card" *ngFor="let armadura of armaduras">
        <ion-img class="armadura-image" [src]="armadura.imagen"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ armadura.nombre }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    
      <ion-card class="armadura-card" *ngFor="let armadura of armaduras">
        <ion-img class="armadura-image" [src]="'https://static1-es.millenium.gg/articles/0/46/55/0/@/248082-1-article_m-2.png'"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ armadura.nombre }}</ion-card-title>
        </ion-card-header>
      </ion-card>

    </ion-content>

    <div *ngIf="!concederPermiso" class="warning-message">
      <ion-label>No tienes permiso para acceder a las imágenes deseadas</ion-label>
    </div>
    

  </ion-content>
<app-footer></app-footer>
