ion-content {
  --background: #000;
  color: #fff;
}

.armadura-card {
  background-color: #333;
  color: #fff;
  margin: 28px;
  border-radius: 10px;
}

.armadura-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}


ion-card-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}


  .custom-button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .conceder-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .negar-button {
    background-color: #FF5733; 
    color: white; 
  }

  .custom-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fe2112;
    color: white;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .alert-icon {
    font-size: 24px;
    margin-right: 8px;
  }
  
  .alert-text {
    font-size: 16px;
  }
  