ion-content {
    --background: #000;
    color: #fff;
  }
  
  .armadura-card {
    background-color: #333;
    color: #fff;
    margin: 28px;
    border-radius: 10px;
  }
  
  .armadura-image {
    max-height: 100%;
    border-radius: 10px 10px 0 0; 
  }
  
  ion-card-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }

  .custom-button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .conceder-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .negar-button {
    background-color: #FF5733; 
    color: white; 
  }

  .warning-message {
    background-color: #FF5733; /* Cambia el color de fondo a un tono de rojo para indicar una advertencia */
    color: white; /* Cambia el color del texto a blanco para mayor contraste */
    padding: 10px; /* Añade espacio alrededor del mensaje */
    border-radius: 5px; /* Agrega bordes redondeados para resaltar el mensaje */
  }
  
  