<app-header [titulo]="'Armaduras'" [colorFondo]="'red'"></app-header>
<app-menu></app-menu>
<ion-content>

  <ion-buttons class="custom-button-container">
    <ion-button class="conceder-button" (click)="concederPermiso = true">Conceder Permiso</ion-button>
    <ion-button class="negar-button" (click)="concederPermiso = false">Negar Permiso</ion-button>
  </ion-buttons>
  

    <ion-content *ngIf="concederPermiso">
      <ion-card class="armadura-card" *ngFor="let armadura of armaduras">
        <ion-img class="armadura-image" [src]="armadura.imagen"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ armadura.nombre }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    
      <ion-card class="armadura-card" *ngFor="let armadura of armaduras">
        <ion-img class="armadura-image" [src]="armadura.imagen"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ armadura.nombre }}</ion-card-title>
        </ion-card-header>
      </ion-card>

    </ion-content>

    <div *ngIf="!concederPermiso" class="custom-alert">
      <ion-icon name="alert-circle-outline" class="alert-icon"></ion-icon>
      <ion-label [ngClass]="'red'">No tienes permiso para acceder a las imágenes deseadas</ion-label>
    </div>
    

  </ion-content>
<app-footer></app-footer>
