<app-header [titulo]="'Perros'" [colorFondo]="'blue'"></app-header>

<ion-content>
    <ion-content>
      <ion-card class="perro-card">
        <img class="perro-image" src="assets/perros/perro1.jpg">
        <ion-card-header>
          <ion-card-title>8 sonidos principales de perros</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="perro-card">
        <img class="perro-image" src="assets/perros/perroo2.jpg">
        <ion-card-header>
          <ion-card-title>Porque mi perro actua extraño</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="perro-card">
        <img class="perro-image" src="assets/perros/perro3.jpg">
        <ion-card-header>
          <ion-card-title>Perros de bosque</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="perro-card">
        <img class="perro-image" src="assets/perros/perro4.jpg">
        <ion-card-header>
          <ion-card-title>Raza de perros de caza</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="perro-card">
        <img class="perro-image" src="assets/perros/perro5.jpg">
        <ion-card-header>
          <ion-card-title>Que mejor raza se lleva mejor con los humanos</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="perro-card">
        <img class="perro-image" src="assets/perros/perro6.jpg">
        <ion-card-header>
          <ion-card-title>Perros peligrosos</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-content>
  </ion-content>



<app-footer></app-footer>