ion-content {
  --background: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-item {
  --background: #333;
  border-radius: 15px;
  margin-bottom: 20px;
  ion-input {
    color: #fff;
  }
}

ion-button {
  --background: #3880ff;
  border-radius: 50px;
  font-weight: bold;
}

.header {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  ion-title {
    font-size: 2.5rem;
  }
  .subTitle {
    color: #ddd;
    font-size: 1rem;
  }
}

.signupLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  p {
    color: #ddd;
    font-size: 0.9rem;
  }
  a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
}

.forgotpassword {
  display: flex;
  justify-content: flex-end;
  a {
    color: #3498db;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
  }
}

