<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text= "Atras" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contacto">
    <h2 class="titulo-contacto">¡Contáctanos!</h2>
    <p class="texto-contacto">¿Tienes alguna pregunta, sugerencia o simplemente quieres compartir tus comentarios sobre nuestra increíble aplicación de diario? ¡Estamos aquí para escucharte!</p>
    
    <p class="texto-contacto">No dudes en ponerte en contacto con nosotros a través de los siguientes medios:</p>

    <ion-item class="info-contacto">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <a href="mailto:contacto@tuappdiario.com" class="enlace-contacto">contacto@tuappdiario.com</a>
    </ion-item>

    <ion-item class="info-contacto">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <a href="tel:+123456789" class="enlace-contacto">+54 387 4063656</a>
    </ion-item>

    <p class="texto-contacto">Síguenos en nuestras redes sociales para obtener las últimas actualizaciones y noticias:</p>

    <div class="redes-sociales">
      <ion-icon name="logo-facebook" class="icono-red-social"></ion-icon>
      <ion-icon name="logo-twitter" class="icono-red-social"></ion-icon>
      <ion-icon name="logo-instagram" class="icono-red-social"></ion-icon>
      <ion-icon name="logo-linkedin" class="icono-red-social"></ion-icon>
    </div>
  </div>
</ion-content>