<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contacto">
    <h2 class="titulo-contacto">¡Contáctanos!</h2>
    <p class="texto-contacto">¿Tienes alguna pregunta, sugerencia o simplemente quieres compartir tus comentarios sobre nuestra increíble aplicación de diario? ¡Estamos aquí para escucharte!</p>

    <p class="texto-contacto">No dudes en ponerte en contacto con nosotros a través de los siguientes medios:</p>

    <ion-item class="info-contacto">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-button class="enlace-contacto" href="mailto:contacto@tuappdiario.com">contacto@tuappdiario.com</ion-button>
    </ion-item>

    <ion-item class="info-contacto">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-button class="enlace-contacto" href="tel:+123456789">+54 387 4063656</ion-button>
    </ion-item>

    <p class="texto-contacto">Síguenos en nuestras redes sociales para obtener las últimas actualizaciones y noticias:</p>

    <div class="redes-sociales">
      <ion-button class="icono-red-social" href="https://www.facebook.com/tuappdiario">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button class="icono-red-social" href="https://twitter.com/tuappdiario">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button class="icono-red-social" href="https://www.instagram.com/tuappdiario">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button class="icono-red-social" href="https://www.linkedin.com/company/tuappdiario">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
