/* En tu archivo .scss */

page-contacto {
  ion-header {
    ion-toolbar {
      ion-buttons {
        ion-back-button {
          font-size: 1.5em; /* Tamaño del botón de retroceso */
        }
        ion-title {
          font-size: 1.2em; /* Tamaño del título */
        }
      }
    }
  }

  ion-content {
    --background: transparent; /* Quitar el fondo azul */

    .contacto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%; /* Ajustar al 100% del contenedor */

      .titulo-contacto {
        font-size: 1.8em; /* Tamaño del título principal */
        font-weight: bold;
        margin-bottom: 10px;
      }

      .texto-contacto {
        font-size: 1em; /* Tamaño del texto regular */
        margin-bottom: 15px;
      }

      .info-contacto {
        ion-icon {
          font-size: 1.2em; /* Tamaño de los iconos de información de contacto */
        }

        .enlace-contacto {
          font-size: 1em; /* Tamaño del texto de contacto */
        }
      }

      .redes-sociales {
        ion-button {
          font-size: 1.5em; /* Tamaño de los botones de redes sociales */
          margin: 0 5px; /* Espaciado entre los botones */
        }
      }
    }
  }
}
