<app-header [titulo]="'Computadoras'" [colorFondo]="'Green'"></app-header>
<ion-content>
  <ion-content *ngIf="permission; else noPermission">
    <ion-card class="compu-card" *ngFor="let imagen of imagenes">
      <img class="compu-image" [src]="imagen.src" alt="{{ imagen.alt }}">
      <ion-card-header>
        <ion-card-title>{{ imagen.title }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-content>
  <ng-template #noPermission>
    <ion-label>No tienes permiso para acceder a las imágenes deseadas</ion-label>
  </ng-template>
</ion-content>
<app-footer></app-footer>
